@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Prata&display=swap');


.prata{
    font-family: prata;
}

.lato{
    font-family: lato;
}

h1{
    font-size: 1.2rem;
}
body {
    width:100vw;
    overflow: hidden;
}
html {
    width: 100vw;
    scroll-behavior: smooth;
   /*  border-style: solid;
    border-color: fuchsia;
    border-width: 1px;
    z-index: 10; */
  }

/* .videostripe{
    height:340px;
} */

.outerstContainer{
    overflow:hidden;
    width:100vw;
}

.scroll-container {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 100vh;
}



.scroll-item {
    scroll-snap-align: start;
    height: 100vh;
}

.aspect-video17{
    aspect-ratio: 17 / 9;
}


