@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Prata&display=swap');


.prata{
    font-family: prata;
}

.lato{
    font-family: lato;
}

h1{
    font-size: 1.2rem;
}

html {
    scroll-behavior: smooth;
   /*  border-style: solid;
    border-color: fuchsia;
    border-width: 1px;
    z-index: 10; */
  }

.videostripe{
    height:340px;
}

.scroll-container{
    scroll-snap-type: x mandatory;
    scroll-snap-type: y mandatory;
    background-color: aqua;
}
.scroll-area{
    scroll-snap-align: start;
    scroll-snap-align: center;
    flex: none;
}


